html, body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: rgb(253, 246, 240);
  background-image: url(https://siesgst.edu.in/images/innerheadercommon.jpg);
  background-repeat: no-repeat;
}

header {
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
}

header img {
  max-width: 200px;
  height: auto;
}

.customLabel {
  margin: 0;
  text-align: center;
  justify-content: center;
  font-size: 48px;
  color: #014da1;
  font-weight: bold;
}

.container {
  padding: 20px;
  background-color: #87CEEB;
  border-radius: 30px 30px 0 0;
  flex: 1;
  text-align: center;
  max-width: 100%; 
}


.label,.label1, .read {
  background-color: #f38423;
  box-shadow: 3px 3px #b76014;
  border: 2px solid rgb(231, 134, 16);
  border-radius: 20px;
  width: 250px;
  font-size: 15px;
  padding: 10px;
  margin: 10px 30px 0px 30px;
  color: white;
  text-align: center;
  outline: none;
  cursor: pointer;
  height: auto;
  position: relative;
  text-overflow: ellipsis;
}



.label1:hover::before {
  content: "Select Timetable Word document";
  position: absolute;
  display: flex;
  top: 0; 
  left: -87%; 
  align-items: center;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px;
  font-weight: bold;
  border-radius: 15px;
  font-size: 12px;
}

.label:hover::before {
  content: "Select Syllabus Word document";
  position: absolute;
  display: flex;
  top: 0; 
  left: -85%; 
  align-items: center;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px;
  font-weight: bold;
  border-radius: 15px;
  font-size: 12px;
}

.label:active, .read:active {
  box-shadow: none;
  transform: translate(2px,2px);
}

.file {
  display: none;
  cursor: pointer;
}

.inputvalues {
  width: 450px;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
}

#searchTableButton {
  background-color: #014da1;
  box-shadow: 2px 2px #032897;
  border: 2px solid rgb(3, 8, 147);
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  color: white;
  text-align: center;
  outline: none;
  cursor: pointer;
}

#searchTableButton:active {
  box-shadow: none;
  transform: translate(2px,2px);
}

#documentContent {
  position: relative;
  text-align: center;
  font-size: 20px;
  width: 100%; 
  margin: 20px auto;
}

#documentContent.file-selected {
  background-color: #DEE2FF;
  font-size: 15px;
}

#documentContent td, #documentContent th {
  border: 3px double black;
}

.common-input {
  width: 350px;
  border-radius: 10px;
  border: 2px solid black;
}

.collapsible-title {
  cursor: pointer;
  background-color: #ADD8E6;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 10px;
}

.collapsible-content {
  display: none;
}

.collapsible-content.show {
  display: block;
  background-color: #ADD8E6;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 40px;
}

.new-outcomes-container.show {
  display: block;
  background-color: #ADD8E6;
  border: 2px solid black;
  border-radius: 10px;
}

.outcomes-container.show {
  display: block;
  background-color: #ADD8E6;
  border: 2px solid black;
  border-radius: 10px;
}

.add-icon {
  float: right;
  cursor: pointer;
  font-size: 3.5rem;
  margin-top: -10px;
}

.course-input {
  width: 90%;
  border-radius: 10px;
  border: 2px solid black;
}

.level-input {
  width: 80%;
  border-radius: 10px;
  border: 2px solid black;
}

.course-outcomes-section {
  margin-bottom: 20px;
}

.print-plan {
  margin-top: 10px;
  padding: 10px;
  width: 150px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.print-plan:hover {
  background-color: #45a049;
}

#documentContent1 {
  position: relative;
  text-align: center;
  font-size: 20px;
  width: 100%; 
  margin: 20px auto;
}

#documentContent1.file-selected {
  background-color: #DEE2FF;
  font-size: 15px;
}

#documentContent1 td, #documentContent1 th {
  border: 3px double black;
}

.print-button {
  display: none;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.print-button:hover {
  background-color: #45a049;
}


.date-label {
  display: flex;
  color: black;
  margin: 0px 20px -2px 30px;
  font-size: 20px;
  align-items: flex-start;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.date-input {
  background-color: #FFA500;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0px 30px 0px 30px;
  color: white;
  width: 250px;
}

.date-input:focus {
  background-color: #FFA500;
  border: 2px solid black;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 10px auto;
}


#printDates {
  background-color: #014da1;
  box-shadow: 3px 3px #012e63;
  border: 2px solid #03254d;
  border-radius: 20px;
  width: 200px;
  font-size: 15px;
  padding: 10px;
  margin: 10px 20px 0px 20px;
  color: white;
  text-align: center;
  outline: none;
  cursor: pointer;
}

#printDates:active {
  box-shadow: none;
  transform: translate(2px,2px);
}

#result {
  display: none;
  position: relative;
  background: #DEE2FF;
  width: 100%;
  margin: 20px auto;
  border-radius: 15px;
  padding: 10px;
  font-family: 'Inter';
  font-size: 20px;
  align-items: center;
  text-align: center;
  color: #000000;
}

#result table td:first-child {
  font-size: 20px;
}

#result input {
  font-size: 20px;
  width: 90%;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}
/* 
#fileLabel {
  background-color: #f75e26;
  box-shadow: 3px 3px #c9330d;
  border: 2px solid rgb(231, 63, 16);
  border-radius: 20px;
  width: 250px;
  font-size: 15px;
  padding: 10px;
  margin: 10px 30px 0px 30px;
  color: white;
  text-align: center;
  outline: none;
  cursor: pointer;
  height: auto;
  text-overflow: ellipsis;
}

#updateAndDownloadButton {
  background-color: #f75e26;
  box-shadow: 3px 3px #c9330d;
  border: 2px solid rgb(231, 63, 16);
  border-radius: 20px;
  width: 200px;
  font-size: 15px;
  padding: 10px;
  margin: 10px 20px 0px 20px;
  color: white;
  text-align: center;
  outline: none;
  cursor: pointer;
} */

@media (max-width: 576px) {
  header img {
      max-width: 120px;
  }

  .customLabel {
      font-size: 15px;
  }

  #fileInputLabel,
  #readDocumentButton {
      width: 200px;
      margin: 10px 0 0;
  }

  #result {
      width: 100%;
      padding: 10px 40px 10px 10px;
  }

  .details {
      width: auto;
  }

  #fileLabel {
      width: 200px;
      margin: 10px 0 0;
  }
}


@media (min-width: 576px) and (max-width: 1200px) {
  header img {
      max-width: 140px;
  }

  .customLabel {
      font-size: 26px;
      font-weight: bold;
  }
}


@media (min-width: 1200px) and (max-width: 1400px) {

  #result td {
      max-width: none;
      padding: 5px;
  }

  #result input {
      width: 100%;
      margin: 10px auto;
      box-sizing: border-box;
  }

}

@media (min-width: 1401px) {
  #result table {
      width: 100%;
  }
}














































/* formatting */
.custom-excel-input {
  position: relative;
  display: inline-block;
}

#excelFile {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.custom-button {
  background: #4CAF50;
  box-shadow: 3px 3px #204921;
  border: 2px solid #1e4720;
  border-radius: 20px;
  width: 200px;
  font-size: 15px;
  padding: 10px;
  margin: 10px 20px 0px 20px;
  color: white;
  text-align: center;
  outline: none;
  cursor: pointer;
}
/* formatting */